name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v5.5
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create a GitHub release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      with:
        tag_name: ${{ steps.tag_version.outputs.new_tag }}
        release_name: Release ${{ steps.tag_version.outputs.new_tag }}
        body: ${{ steps.tag_version.outputs.changelog }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image to ECR
      run: |
        docker build -t ${{ secrets.AWS_REGISTRY_URL }}/${{ secrets.AWS_REPOSITORY_URL }}:${{ steps.tag_version.outputs.new_tag }} --platform linux/amd64 .
        docker push ${{ secrets.AWS_REGISTRY_URL }}/${{ secrets.AWS_REPOSITORY_URL }}:${{ steps.tag_version.outputs.new_tag }}
    
    - name: Checkout for Kustomize repository
      uses: actions/checkout@v3
      with:
        repository: seungwonbased/hanggi-argocd
        ref: main 
        token: ${{ secrets.PAT }}
        path: hanggi-argocd

    - name: Update Kubernetes resources
      run: |
        pwd
        cd hanggi-argocd/overlays/prd/ 
        kustomize edit set image ${{ steps.login-ecr.outputs.registry }}/hanggi-rcr=${{ steps.login-ecr.outputs.registry }}/hanggi-ecr:${{ steps.tag_version.outputs.new_tag }}
        cat kustomization.yaml
    - name: Commit menifest files
      env: 
        GITHUB_TOKEN: ${{ secrets.PAT }}
      run: |
        cd eyestalk-manifest
        git config --global user.email "21storeo@gmail.com"
        git config --global user.name "seungwonbased"
        git config --global github.token ${{ secrets.PAT }}
        git commit -am "Update image tag ${{ steps.tag_version.outputs.new_tag }}"
        git push -u origin main
